import('pracma')

importFrom("stats", "dchisq", "qchisq", "pchisq", "dnorm", "pnorm", "qnorm")
importFrom("graphics", "axis", "plot", "points", "text")
importFrom("stats", "var")
importFrom("stats", "integrate", "uniroot")


export('getCC.CUC')
export('getCC.EPC')
export('getCC')
export('PH2XBAR')
